@import './mixins';

.home {
    max-width: 1140px;
    margin: 0 auto;
    padding: 20px 0px;

    h1 {
        font-weight: 400;
        text-align: center;
        color: $light;
    }

    .form-wrapper {
        form {
            
            .search {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
            
            .btn {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }
        
    }

    .cards-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .card {
            background-color: rgba(255, 255, 255, 0.4);
            border: solid 2px transparent;
            backdrop-filter: blur(20px);
            background-clip: padding-box;
            box-shadow: 10px 10px 10px  rgba(46, 54, 68, 0.03);

            .card-head {
                display: flex;
                justify-content: space-between;
                align-items: center;

                h3 {
                    font-size: 18px;
                    font-weight: 400;
                }

                img {
                    width: 70px;
                    height: 70px;
                    object-fit: cover;
                }
            }

            .btns-box {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
}

@include for-tablet {
    .home{
        .cards-wrapper .card {
            width: 40%;
        }
        h1 {
            font-size: 24px;
        }    
    } 
}

@include for-phone {
    .home{
        .cards-wrapper .card {
            width: 100%;
        }
        h1 {
            font-size: 24px;
        }    
    } 
}